		.navbar {
			border-width: 0 1px 1px 1px;
		}
		.side-nav {
			border: 0px solid #e6e6e6;
			top:50px;
		}
		.navbar-inverse {
			background-color: #303030;
			border-color: transparent;
		}
		/*.navbar-brand {
			position: absolute;
			left: 50%;
			margin-left: -50px !important;
			display: block;
		}*/
		a {
			color: #whitesmoke;
			text-decoration: none;
		}
		
		.navbar-nav>li {
			background-color: #303030;
		}