		.navbar {
			border-width: 0 1px 1px 1px;
		}
		.side-nav {
			border: 0px solid #e6e6e6;
		}
		body {
			background-color: #222222;
			background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
		}
		.navbar-inverse {
			background-color: #222;
			border-color: transparent;
		}
		.navbar-brand {
			position: absolute;
			left: 50%;
			margin-left: -90px !important;
			display: block;
		}
		@media (min-width:768px){
			.navbar-brand {
				padding: 10px 15px 20px 15px
			}
		}
		a {
			color: #whitesmoke;
			text-decoration: none;
		}
		
		.navbar-nav>li {
			background-color: #303030;
		}